.pill-checkbox {
    margin: 10px;
    padding: 7px 12px;
    border-radius: 25px;
    border: solid 1px;
}

.pill-checkbox input[type="checkbox"] {
    opacity: 0;
}

.pill-label {
    font-size: 14px;
    color: #14a4be;
}

.pill-checkbox .checked {
    color: #ffffff;
}