.pill-checkbox {
    margin: 10px;
    padding: 7px 12px;
    border-radius: 25px;
    border: solid 1px;
    border-color: #e0e0e0;
}

.pill-checkbox input[type="checkbox"] {
    opacity: 0;
}

.pill-label {
    color: #14a4be;
}

.pill-checkbox .checked {
    color: #ffffff;
}

.pill-checkbox .focused {
    color: #ffffff;
}