@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

html * {
  font-family: 'Do Hyeon', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container-fluid {
  margin: auto;
}